/* general */
* {
  box-sizing: border-box;
}

body {
  font-family: 'courier new', monospance;
  font-size: 14px;
  color: #4a281a;
  line-height: 2;
  margin: 0;
}
/* typography */
h1 {
  font-family: 'Abril Fatface', serif;
  font-weight: normal;
  font-size: 3.75rem;
  text-align: center;
  letter-spacing: 3px;
  line-height: 1.5;
  margin: 0.25em 0;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

strong {
  font-family: 1rem;
}

main a,
footer a {
  color: #d44519;
  padding: 1em;
  font-style: italic;
  text-decoration: none;
  opacity: 0.75;
  transition: all 0.3s ease-in-out;
  position: relative;
}

main a::after,
footer a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 1em;
  width: 50%;
  height: 2px;
  outline: 0;
  background-color: #d44519;
  opacity: 0.75;
  transition: all 0.3s ease-in-out;
}

a:focus {
  outline: none;
}

main a:hover,
main a:focus,
footer a:hover,
footer a:focus {
  opacity: 1;
}

main a:hover::after,
main a:focus::after,
footer a:hover::after,
footer a:focus::after {
  width: 90%;
}

main a:visited {
  color: inherit;
  opacity: 0.75;
}

main a:visited::after,
footer a:visited::after {
  background-color: inherit;
  opacity: 0.75;
}

img {
  width: 100%;
}

/* header */

.hero {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.hero h1 {
  text-align: center;
}

.hero-img {
  background-color: rgba(243, 246, 224, 0.5);
  text-align: center;
}

.hero-copy {
  padding: 0 3em 5em 3em;
}

.navbar {
  position: absolute;
  background-color: rgba(250, 250, 250, 0.5);
  width: 100%;
  text-align: center;
  display: flex;
  height: 50px;
  padding: 0 50px;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.navbar-brand {
  display: flex;
}

.navbar-brand img {
  max-height: 38px;
  align-self: center;
}

.fixed {
  position: fixed;
  top: 0;
}

.active {
  color: #d44519 !important;
}

/* social menu */
.social-links {
  top: 10;
  right: 25px;
  width: 50%;
  list-style: none;
  padding-left: 0;
  text-align: center;
}

a.social-link-item {
  display: inline-block;
}

a.social-link-item {
  color: rgba(74, 40, 26, 0.67);
}

a.social-link-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 1em;
  width: 0;
  height: 0;
  outline: 0;
}

.social-link-icon {
  font-size: 1.15rem;
  padding: 1em;
  padding-right: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.social-link a:hover,
.social-link a:focus {
  color: #d44519;
}

/* main */
/* general */
section,
footer {
  padding: 0 8%;
  padding-bottom: 5em;
}

/* Vertical Rules */

.vertical-hr {
  margin-left: auto;
  margin-right: auto;
  width: 2px;
  height: 75px;
}

.vertical-hr-half {
  margin-left: auto;
  margin-right: auto;
  width: 2px;
  height: 37px;
}

.blue-line {
  background-color: #528da4;
}

.orange-line {
  background-color: #ce7925;
}

.red-line {
  background-color: #d44519;
}

/* hero */

.headline-copy {
  position: relative;
}

.headline-opener span:nth-child(1)::before,
.headline-opener span:nth-child(5)::before {
  content: '\2002';
}

.headline-copy::before {
  content: '';
  position: absolute;
  background-color: #528da4;
  height: 115px;
  width: 2px;
  top: -142px;
  left: 3px;
}

/* about */
.about-sec {
  padding: 0;
  margin-top: 50px;
}

.tools {
  list-style: none;
  padding: 0;
}

.about-copy {
  padding: 0 2em;
}

.details-container {
  display: flex;
  flex-direction: column;
}

.half-block {
  padding: 2em;
}

/* project */
.project-card {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
}

.project-copy {
  padding-left: 1.25rem;
  margin-left: 1.25rem;
  position: relative;
}

.project-copy::before {
  content: '';
  position: absolute;
  background-color: #528da4;
  height: 115%;
  width: 2px;
  left: 0;
  bottom: 15%;
}

.project-link {
  padding-left: 0;
}

.project-link::after {
  left: 0;
}

/* helpers */
.secondary-bg {
  background-image: url('/assets/img/rq_texturedBg.png');
}

.center-txt {
  text-align: center;
}

.red {
  color: #d44519;
}

.blue {
  color: #528da4;
}

.orange {
  color: #ce7925;
}

.highlight {
  background-color: rgba(212, 69, 25, 0.2);
  padding: 2px;
}

.mobile-hide {
  display: none !important;
}

/* media queries */
@media screen and (min-width: 680px) {
  .mobile-only {
    display: none;
  }

  .mobile-hide {
    display: block !important;
  }

  h1 {
    font-size: 3.25rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.85rem;
  }

  .navbar {
    justify-content: space-between;
  }

  .navbar-brand {
    max-width: 200px;
  }

  .menu {
    display: block;
    list-style: none;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
  }

  .menu li {
    display: inline-block;
  }

  .menu-link {
    padding: 0.5em 0 0.5em 2em;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
    color: gray;
  }

  .menu-link:hover,
  .menu-link:focus {
    color: #d44519;
  }

  .social-links {
    display: block;
    position: fixed;
    right: 25px;
    top: 50%;
    list-style: none;
    text-align: right;
  }

  .social-link-item {
    display: block;
  }

  .social-link-icon {
    color: gray;
    font-size: 1.15rem;
    margin: 0.5em;
    padding: 0;
  }

  a:hover .social-link-icon,
  a:focus .social-link-icon {
    color: #d44519;
    transition: all 0.3s ease-in-out;
  }

  .hero {
    flex-direction: row;
    align-content: space-around;
    justify-content: flex-end;
  }
  .hero h1 {
    text-align: left;
  }

  .hero-img img {
    width: 90%;
  }

  .hero-copy {
    align-self: flex-end;
    padding: 0 4em 4em 4em;
  }

  .headline-opener span {
    margin-left: auto;
  }

  .headline-copy {
    position: relative;
    margin-left: 2.5em;
  }

  .headline-opener span:nth-child(1)::before,
  .headline-opener span:nth-child(5)::before {
    content: '';
  }

  .headline-copy::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100px;
    top: 15px;
    left: -120px;
  }

  h1 span:nth-child(1)::before,
  h1 span:nth-child(5)::before {
    content: '';
  }

  /* about */

  .about-copy {
    padding: 0 6em;
    margin-bottom: 5em;
  }

  .details-container {
    flex-direction: row;
    justify-content: center;
  }

  .half-block {
    padding: 0 4em;
  }

  .details-container div:nth-child(odd) {
    border-right: 2px solid #528da4;
    padding-right: 3em;
  }

  .details-container div:nth-child(even) {
    padding-left: 3em;
  }

  /* work */
  .project-card {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5em;
  }

  .project-img {
    width: 35%;
  }

  .project-copy {
    width: 55%;
    margin: 0;
  }

  .project-copy::before {
    content: '';
    width: 75px;
    top: 115px;
    left: -42px;
    height: 2px;
  }

  .project-info {
    margin-left: 2em;
  }

  .project-copy::before {
    width: 100px;
    left: -65px;
  }
}

@media screen and (min-width: 1000px) {
  .hamburger {
    display: none;
  }

  .social-link-icon {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 1rem;
  }

  section,
  .about-sec {
    padding: 0 8%;
  }

  footer {
    padding: 0 10% 5em 10%;
  }
}

@media screen and (min-width: 1200px) {
  .hero-copy {
    flex-shrink: 4;
  }

  section,
  .about-sec {
    padding: 0 15%;
  }

  footer {
    padding: 0 25% 8em 25%;
  }

  h1 {
    font-size: 4.5rem;
  }

  .social-link-icon {
    font-size: 1.5rem;
  }

  .about-copy {
    padding: 0 15%;
  }

  .project-copy::before {
    width: 120px;
    left: -85px;
  }
}
